In [1]:
import pandas

In [16]:
file_path = 'statement12.csv'
data = pandas.read_csv(file_path)

In [17]:
data.head()

,Txn Date,Value Date,Description,Ref No./Cheque No.,Debit,Credit,Balance
0,20 Jun 2023,20 Jun 2023,TO TRANSFER-UPI/DR/353748555176/YEDUKOND/SBIN/...,TRANSFER TO 4897691162095,58,NaN,"2,242.84"
1,20 Jun 2023,20 Jun 2023,TO TRANSFER-UPI/DR/353743852668/Konakala/SBIN/...,TRANSFER TO 4897691162095,52,NaN,"2,190.84"
2,21 Jun 2023,21 Jun 2023,TO TRANSFER-UPI/DR/353814093474/NARETI V/ICIC/...,TRANSFER TO 4897692162094,58,NaN,"2,132.84"
3,22 Jun 2023,22 Jun 2023,TO TRANSFER-UPI/DR/353956381448/JOSEPH T/ICIC/...,TRANSFER TO 4897693162093,51,NaN,"2,081.84"
4,23 Jun 2023,23 Jun 2023,TO TRANSFER-UPI/DR/354046188200/Mr Ibrah/IDIB/...,TRANSFER TO 4897694162092,48,NaN,"2,033.84"

In [18]:
data.dropna()

Empty DataFrame
Columns: [Txn Date, Value Date, Description, Ref No./Cheque No., Debit, Credit, Balance]
Index: []

In [24]:
txn = data[['Txn Date', 'Debit']].dropna()

In [21]:
len(data)

301

In [27]:
txn.plot()
txn.show()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.